{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-organize-attributes"
    ],
    "importOrder": [
        "^react",
        "^i18next$",
        "^@/views/(.*)$",
        "^@/widgets/(.*)$",
        "^@/features/(.*)$",
        "^@/entities/(.*)$",
        "^@/shared/(.*)$",
        "^@/hooks/(.*)$",
        "^[../]",
        "^[./]"
    ],
    "tabWidth": 4,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "printWidth": 95,
    "attributeSort": "ASC"
}
