@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 0 100% 95%;
        --foreground: 0 5% 0%;
        --card: 0 50% 90%;
        --card-foreground: 0 5% 10%;
        --popover: 0 100% 95%;
        --popover-foreground: 0 100% 0%;
        --primary: 0 71.8% 52.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: -38 30% 85%;
        --muted-foreground: 0 5% 35%;
        --accent: -38 30% 80%;
        --accent-foreground: 0 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 0 5% 90%;
        --border: 0 30% 50%;
        --input: 0 30% 18%;
        --ring: 0 71.8% 52.7%;
        --radius: 0.75rem;
        --sidebar-background: 0 100% 95%;
        --sidebar-foreground: 0 5% 0%;
        --sidebar-primary: 0 71.8% 52.7%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 0 50% 5%;
        --foreground: 0 5% 90%;
        --card: 0 50% 0%;
        --card-foreground: 0 5% 90%;
        --popover: 0 50% 5%;
        --popover-foreground: 0 5% 90%;
        --primary: 0 71.8% 52.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: -38 30% 15%;
        --muted-foreground: 0 5% 60%;
        --accent: -38 30% 15%;
        --accent-foreground: 0 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 0 5% 90%;
        --border: 0 30% 18%;
        --input: 0 30% 18%;
        --ring: 0 71.8% 52.7%;
        --radius: 0.75rem;
        --sidebar-background: 0 50% 5%;
        --sidebar-foreground: 0 5% 90%;
        --sidebar-primary: 0 71.8% 52.7%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
