@import 'tailwindcss';

@config '../../tailwind.config.ts';

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility no-scrollbar {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer utilities {
  :root {
    --timeline-offset: scroll();
    /* Incorrect here as it needs to be linked to @scroll-timeline */
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .bento-block {
    @apply px-5 py-7 rounded-xl bg-transparent dark:bg-muted/50 md:min-h-min border border-border;
  }

  /* Define the scroll-timeline with adjusted scroll-offsets */
  @scroll-timeline --timeline-offset {
    source: auto;
    orientation: block;
    scroll-offsets:
      start 0%,
      end 50%;
  }

  @keyframes slideFadeIn {
    from {
      opacity: 0;
      transform: translateY(5vh);
    }
  }
}


@layer base {
  :root {
    --background: #fff;
    --foreground: 257 5% 0%;
    --card: 257 50% 90%;
    --card-foreground: 257 5% 10%;
    --popover: 257 100% 95%;
    --popover-foreground: 257 100% 0%;
    --primary: 178, 50%, 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 257 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 219 30% 85%;
    --muted-foreground: 257 5% 35%;
    --accent: 219 30% 80%;
    --accent-foreground: 257 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 257 5% 90%;
    --border: 178, 50%, 61%;
    --input: 178, 50%, 61%;
    --ring: 178, 50%, 61%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 257 50% 5%;
    --foreground: 257 5% 90%;
    --card: 257 50% 0%;
    --card-foreground: 257 5% 90%;
    --popover: 257 50% 5%;
    --popover-foreground: 257 5% 90%;
    --primary: 178, 50%, 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 257 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 219 30% 15%;
    --muted-foreground: 257 5% 60%;
    --accent: 219 30% 15%;
    --accent-foreground: 257 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 257 5% 90%;
    --border: 178, 50%, 61%;
    --input: 178, 50%, 61%;
    --ring: 178, 50%, 61%;
    --radius: 0.75rem;
  }


}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}





@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}